/* Heading fonts start */
// h1 {
//     font-size: 40px;
//     font-weight: 600;
// }
h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.9rem;
}

h5 {
    font-size: 1.3rem;
}

.h2-40{
    font-size: 2.5rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
}

/* Heading fonts end */
.fc-white-text{
    color: #fff;
}

// Color Variables
$mahindra-light-red: #EE2328;
$swaraj-light-green: #24A849;
$erkunt-light-maroon: #942D31;
$sampo-light-yellow: #FFD22B;
$mitsubishi-red: #CC3333;