/* Heading fonts start */
h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.3rem;
}

.h2-40 {
  font-size: 2.5rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
}

/* Heading fonts end */
.fc-white-text {
  color: #fff;
}

.owl-carousel .owl-dots {
  position: absolute;
  top: -25px;
  right: 15px;
}
.owl-carousel .owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.owl-carousel .owl-dots .owl-dot.active span {
  background-color: #fff;
}

.stories-section.mahindra-stories .fc-story-card-slider .owl-dots {
  position: absolute;
  bottom: -40px !important;
  top: auto;
  right: auto;
  text-align: center;
}
.stories-section.mahindra-stories .fc-story-card-slider .owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
  border: 2px solid #EE2328;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.stories-section.mahindra-stories .fc-story-card-slider .owl-dots .owl-dot.active span {
  background-color: #EE2328;
}
.stories-section.swaraj-stories .fc-story-card-slider .owl-dots {
  position: absolute;
  bottom: -40px !important;
  top: auto;
  right: auto;
  text-align: center;
}
.stories-section.swaraj-stories .fc-story-card-slider .owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
  border: 2px solid #24A849;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.stories-section.swaraj-stories .fc-story-card-slider .owl-dots .owl-dot.active span {
  background-color: #24A849;
}
.stories-section.erkunt-stories .fc-story-card-slider .owl-dots {
  position: absolute;
  bottom: -40px !important;
  top: auto;
  right: auto;
  text-align: center;
}
.stories-section.erkunt-stories .fc-story-card-slider .owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
  border: 2px solid #942D31;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.stories-section.erkunt-stories .fc-story-card-slider .owl-dots .owl-dot.active span {
  background-color: #942D31;
}
.stories-section.mitsubishi-stories .fc-story-card-slider .owl-dots {
  position: absolute;
  bottom: -40px !important;
  top: auto;
  right: auto;
  text-align: center;
}
.stories-section.mitsubishi-stories .fc-story-card-slider .owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
  border: 2px solid #CC3333;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.stories-section.mitsubishi-stories .fc-story-card-slider .owl-dots .owl-dot.active span {
  background-color: #CC3333;
}
.stories-section.sampo-rosenlew-stories .fc-story-card-slider .owl-dots {
  position: absolute;
  bottom: -40px !important;
  top: auto;
  right: auto;
  text-align: center;
}
.stories-section.sampo-rosenlew-stories .fc-story-card-slider .owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
  border: 2px solid #FFD22B;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.stories-section.sampo-rosenlew-stories .fc-story-card-slider .owl-dots .owl-dot.active span {
  background-color: #FFD22B;
}/*# sourceMappingURL=fc-carousel.css.map */