@import "default";

.owl-carousel {
    .owl-dots {
        position: absolute;
        top: -25px;
        right: 15px;
        .owl-dot {
            span {
                width: 13px;
                height: 13px;
                border: 2px solid #fff;
                border-radius: 50%;
                display: inline-block;
                margin-right: 5px;
            }
        }
        .owl-dot.active {
            span {
                background-color: #fff;
            }
        }
    }
}

.stories-section {
    &.mahindra-stories{
        .fc-story-card-slider {
            .owl-dots {
                position: absolute;
                bottom: -40px !important;
                top: auto;
                right: auto;
                text-align: center;
                .owl-dot {
                    span {
                        width: 13px;
                        height: 13px;
                        border: 2px solid $mahindra-light-red;
                        border-radius: 50%;
                        display: inline-block;
                        margin-right: 5px;
                    }
                }
                .owl-dot.active {
                    span {
                        background-color: $mahindra-light-red;
                    }
                }
            }
        }
    }
    &.swaraj-stories{
        .fc-story-card-slider {
            .owl-dots {
                position: absolute;
                bottom: -40px !important;
                top: auto;
                right: auto;
                text-align: center;
                .owl-dot {
                    span {
                        width: 13px;
                        height: 13px;
                        border: 2px solid $swaraj-light-green;
                        border-radius: 50%;
                        display: inline-block;
                        margin-right: 5px;
                    }
                }
                .owl-dot.active {
                    span {
                        background-color: $swaraj-light-green;
                    }
                }
            }
        }
    }
    &.erkunt-stories{
        .fc-story-card-slider {
            .owl-dots {
                position: absolute;
                bottom: -40px !important;
                top: auto;
                right: auto;
                text-align: center;
                .owl-dot {
                    span {
                        width: 13px;
                        height: 13px;
                        border: 2px solid $erkunt-light-maroon;
                        border-radius: 50%;
                        display: inline-block;
                        margin-right: 5px;
                    }
                }
                .owl-dot.active {
                    span {
                        background-color: $erkunt-light-maroon;
                    }
                }
            }
        }
    }
    &.mitsubishi-stories{
        .fc-story-card-slider {
            .owl-dots {
                position: absolute;
                bottom: -40px !important;
                top: auto;
                right: auto;
                text-align: center;
                .owl-dot {
                    span {
                        width: 13px;
                        height: 13px;
                        border: 2px solid $mitsubishi-red;
                        border-radius: 50%;
                        display: inline-block;
                        margin-right: 5px;
                    }
                }
                .owl-dot.active {
                    span {
                        background-color: $mitsubishi-red;
                    }
                }
            }
        }
    }
    &.sampo-rosenlew-stories{
        .fc-story-card-slider {
            .owl-dots {
                position: absolute;
                bottom: -40px !important;
                top: auto;
                right: auto;
                text-align: center;
                .owl-dot {
                    span {
                        width: 13px;
                        height: 13px;
                        border: 2px solid $sampo-light-yellow;
                        border-radius: 50%;
                        display: inline-block;
                        margin-right: 5px;
                    }
                }
                .owl-dot.active {
                    span {
                        background-color: $sampo-light-yellow;
                    }
                }
            }
        }
    }
}

