/* Heading fonts start */
h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.3rem;
}

.h2-40 {
  font-size: 2.5rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
}

/* Heading fonts end */
.fc-white-text {
  color: #fff;
}

/* Navbar styles */
.fc-navbar {
  background-color: #fff;
}

/* Main Banner Styles */
.story-snipppet .headline {
  background-color: #EE2328;
  color: #fff;
  padding: 5px 20px;
}
.story-snipppet .headline p {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3px;
}
.story-snipppet .headline p span {
  text-transform: none;
  font-style: italic;
  font-weight: 400;
}

.fc-story .story-content {
  position: absolute;
  bottom: 10%;
  left: 17px;
}

@media (min-width: 992px) {
  .fc-story .story-content {
    position: absolute;
    bottom: 10%;
    left: 35px;
  }
}
.fc-story .story-content h1 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
}
.fc-story .story-content p {
  color: #fff;
  font-weight: 700;
}
.fc-story .story-content a {
  color: #fff;
  font-weight: 900;
  font-weight: 0.813rem;
  font-style: italic;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.fc-story .story-content h4 {
  font-size: 1.2rem !important;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
}

.story-content-sm {
  position: absolute;
  bottom: 30px;
  left: 20px;
  width: 85%;
}
.story-content-sm h4 {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.story-content-sm a {
  color: #fff;
  text-decoration: none;
  font-style: italic;
  letter-spacing: 0.3px;
  font-weight: 700;
}

@media (min-width: 992px) {
  .story-content-sm {
    bottom: 10px;
  }
}
.video-story-snippet .headline {
  background-color: #EE2328;
  color: #fff;
  padding: 5px 20px;
}
.video-story-snippet .headline p {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3px;
}
.video-story-snippet .video-text-content h6 {
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
}
.video-story-snippet .video-text-content p {
  color: #fff;
  font-size: 10px;
  margin-bottom: 0;
}
.video-story-snippet .video-text-content a {
  color: #fff;
  text-decoration: none;
  font-style: italic;
  letter-spacing: 0.3px;
  font-weight: 700;
  font-size: 0.813rem;
}

.video-story .video-text-content {
  position: absolute;
  bottom: 30px;
  left: 15px;
}

@media (min-width: 992px) {
  .video-story .video-text-content {
    bottom: 10px;
  }
}
.story-snipppet-sm .headline {
  background-color: #EE2328;
  color: #fff;
  padding: 5px 20px;
}
.story-snipppet-sm .headline p {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3px;
}

.fc-share-news {
  height: 250px;
}
.fc-share-news h3 {
  color: #EE2328;
  font-weight: 800;
  text-transform: uppercase;
}
.fc-share-news p {
  font-size: 0.938rem;
  font-weight: 700;
  color: #6e6f72;
}
.fc-share-news a {
  color: #EE2328;
  font-style: italic;
  font-weight: 700;
}

.other-stories-section h2 {
  font-weight: 800;
  color: #6c6d70;
  text-transform: uppercase;
}

.stories-section.mahindra-stories .brand-name {
  border-bottom: 4px solid #EE2328;
}
.stories-section.mahindra-stories .brand-name span {
  font-size: 1.313rem;
  color: #EE2328;
  font-weight: 700;
  border-bottom: 5px solid #EE2328;
}
.stories-section.mahindra-stories .fc-story-card {
  border: none;
}
.stories-section.mahindra-stories .fc-story-card h4 {
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
}
.stories-section.mahindra-stories .fc-story-card h4 span {
  color: #EE2328;
  border-left: 5px solid #EE2328;
  padding-left: 15px;
}
.stories-section.mahindra-stories .fc-story-card h5 {
  color: #5f6062;
}
.stories-section.mahindra-stories .fc-story-card p {
  color: #8f9193;
}
.stories-section.mahindra-stories .fc-story-card a {
  font-weight: 700;
  color: #EE2328;
  font-style: italic;
  text-decoration: none;
}
.stories-section.swaraj-stories .brand-name {
  border-bottom: 4px solid #24A849;
}
.stories-section.swaraj-stories .brand-name span {
  font-size: 1.313rem;
  color: #24A849;
  font-weight: 700;
  border-bottom: 5px solid #24A849;
}
.stories-section.swaraj-stories .fc-story-card {
  border: none;
}
.stories-section.swaraj-stories .fc-story-card h4 {
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
}
.stories-section.swaraj-stories .fc-story-card h4 span {
  color: #24A849;
  border-left: 5px solid #24A849;
  padding-left: 15px;
}
.stories-section.swaraj-stories .fc-story-card h5 {
  color: #5f6062;
}
.stories-section.swaraj-stories .fc-story-card p {
  color: #8f9193;
}
.stories-section.swaraj-stories .fc-story-card a {
  font-weight: 700;
  color: #24A849;
  font-style: italic;
  text-decoration: none;
}
.stories-section.erkunt-stories .brand-name {
  border-bottom: 4px solid #942D31;
}
.stories-section.erkunt-stories .brand-name span {
  font-size: 1.313rem;
  color: #942D31;
  font-weight: 700;
  border-bottom: 5px solid #942D31;
}
.stories-section.erkunt-stories .fc-story-card {
  border: none;
}
.stories-section.erkunt-stories .fc-story-card h4 {
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
}
.stories-section.erkunt-stories .fc-story-card h4 span {
  color: #942D31;
  border-left: 5px solid #942D31;
  padding-left: 15px;
}
.stories-section.erkunt-stories .fc-story-card h5 {
  color: #5f6062;
}
.stories-section.erkunt-stories .fc-story-card p {
  color: #8f9193;
}
.stories-section.erkunt-stories .fc-story-card a {
  font-weight: 700;
  color: #942D31;
  font-style: italic;
  text-decoration: none;
}
.stories-section.mitsubishi-stories .brand-name {
  border-bottom: 4px solid #CC3333;
}
.stories-section.mitsubishi-stories .brand-name span {
  font-size: 1.313rem;
  color: #CC3333;
  font-weight: 700;
  border-bottom: 5px solid #CC3333;
}
.stories-section.mitsubishi-stories .fc-story-card {
  border: none;
}
.stories-section.mitsubishi-stories .fc-story-card h4 {
  font-weight: 800;
  font-size: 1rem;
}
.stories-section.mitsubishi-stories .fc-story-card h4 span {
  color: #CC3333;
  border-left: 5px solid #CC3333;
  padding-left: 15px;
  text-transform: uppercase;
}
.stories-section.mitsubishi-stories .fc-story-card h5 {
  color: #5f6062;
}
.stories-section.mitsubishi-stories .fc-story-card p {
  color: #8f9193;
}
.stories-section.mitsubishi-stories .fc-story-card a {
  font-weight: 700;
  color: #CC3333;
  font-style: italic;
  text-decoration: none;
}
.stories-section.sampo-rosenlew-stories .brand-name {
  border-bottom: 4px solid #FFD22B;
}
.stories-section.sampo-rosenlew-stories .brand-name span {
  font-size: 1.313rem;
  color: #FFD22B;
  font-weight: 700;
  border-bottom: 5px solid #FFD22B;
}
.stories-section.sampo-rosenlew-stories .fc-story-card {
  border: none;
}
.stories-section.sampo-rosenlew-stories .fc-story-card h4 {
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
}
.stories-section.sampo-rosenlew-stories .fc-story-card h4 span {
  color: #FFD22B;
  border-left: 5px solid #FFD22B;
  padding-left: 15px;
  text-transform: uppercase;
}
.stories-section.sampo-rosenlew-stories .fc-story-card h5 {
  color: #5f6062;
}
.stories-section.sampo-rosenlew-stories .fc-story-card p {
  color: #8f9193;
}
.stories-section.sampo-rosenlew-stories .fc-story-card a {
  font-weight: 700;
  color: #FFD22B;
  font-style: italic;
  text-decoration: none;
}

@media (min-width: 992px) {
  .fc-story-card-slider {
    display: flex !important;
  }
}
.fc-post-banner.fc-mahindra-stories .story-tag {
  font-weight: 800;
  font-size: 1.563rem;
  text-transform: uppercase;
}
.fc-post-banner.fc-mahindra-stories .story-tag span {
  color: #EE2328;
}
.fc-post-banner.fc-swaraj-stories .story-tag {
  font-weight: 800;
  font-size: 1.563rem;
  text-transform: uppercase;
}
.fc-post-banner.fc-swaraj-stories .story-tag span {
  color: #24A849;
}
.fc-post-banner.fc-erkunt-stories .story-tag {
  font-weight: 800;
  font-size: 1.563rem;
  text-transform: uppercase;
}
.fc-post-banner.fc-erkunt-stories .story-tag span {
  color: #942D31;
}
.fc-post-banner.fc-mitsubishi-stories .story-tag {
  font-weight: 800;
  font-size: 1.563rem;
  text-transform: uppercase;
}
.fc-post-banner.fc-mitsubishi-stories .story-tag span {
  color: #CC3333;
}
.fc-post-banner.fc-sampo-rosenlew-stories .story-tag {
  font-weight: 800;
  font-size: 1.563rem;
  text-transform: uppercase;
}
.fc-post-banner.fc-sampo-rosenlew-stories .story-tag span {
  color: #FFD22B;
}

.navbar-brand {
  max-width: 250px;
}

@media (min-width: 992px) {
  .navbar-brand {
    max-width: 480px;
  }
}
.fc-archieve-accordion .accordion-button:not(.collapsed),
.fc-archieve-accordion .accordion-header,
.fc-archieve-accordion .accordion-button.collapsed {
  background-color: #EE2328;
}
.fc-archieve-accordion .accordion-button:focus {
  box-shadow: none;
}
.fc-archieve-accordion .accordion-button {
  color: #fff;
}
.fc-archieve-accordion ul li a {
  text-decoration: none;
  color: #242021;
}
.fc-archieve-accordion ul li a:hover {
  text-decoration: underline;
}
.fc-archieve-accordion .accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.home-icon {
  background-color: #EE2328;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.article-video-section iframe {
  width: 100%;
  height: 535px;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.post-title {
  font-size: 2.6rem;
  color: #6c6d70;
  font-weight: 900;
  text-transform: uppercase;
}

@media (min-width: 768) {
  .post-title {
    font-size: 4.5rem;
  }
}
.fc-letter {
  height: 800px;
  overflow: overlay;
}

@media (min-width: 992px) {
  .fc-letter {
    height: 500px;
    overflow: hidden;
  }
}
.message-scroll {
  padding: 30px 10px;
  height: 100%;
  overflow-y: scroll;
}

@media (min-width: 992px) {
  .message-scroll {
    padding: 30px;
  }
}
/* width */
.message-scroll::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.message-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.message-scroll::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

.top-stories {
  position: relative;
}

.img-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.168627451);
  inset: 0;
}

.fc-share-news {
  border-top: 4px solid #ee2328;
}
.fc-share-news a {
  text-decoration: none;
}

.blocks-gallery-item figure {
  flex-direction: column;
}

figcaption.blocks-gallery-item__caption {
  position: relative !important;
}/*# sourceMappingURL=styles.css.map */