@import "default";

/* Navbar styles */

.fc-navbar {
    // box-shadow: 0px 2px 10px 0px #a7a7a7;
    background-color: #fff;
}

/* Main Banner Styles */

.story-snipppet {
    .headline {
        background-color: $mahindra-light-red;
        color: #fff;
        padding: 5px 20px;
    }
    .headline p {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.3px;
        span {
            text-transform: none;
            font-style: italic;
            font-weight: 400;
        }
    }
}

.fc-story {
    .story-content {
        position: absolute;
        bottom: 10%;
        left: 17px;
    }
}
@media (min-width: 992px) {
    .fc-story {
        .story-content {
            position: absolute;
            bottom: 10%;
            left: 35px;
        }
    }
}

.fc-story {
    .story-content {
        h1 {
            text-transform: uppercase;
            color: #fff;
            font-weight: 900;
        }
        p {
            color: #fff;
            font-weight: 700;
        }
        a {
            color: #fff;
            font-weight: 900;
            font-weight: 0.813rem;
            font-style: italic;
            text-decoration: none;
            letter-spacing: 0.5px;
        }
    }
}

.fc-story {
    .story-content {
        h4 {
            font-size: 1.2rem !important;
            font-weight: 900;
            color: #fff;
            text-transform: uppercase;
        }
    }
}

.story-content-sm {
    position: absolute;
    bottom: 30px;
    left: 20px;
    width: 85%;
    h4 {
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
    }
    a {
        color: #fff;
        text-decoration: none;
        font-style: italic;
        letter-spacing: 0.3px;
        font-weight: 700;
    }
}

@media (min-width: 992px) {
    .story-content-sm {
        bottom: 10px;
    }
}

.video-story-snippet {
    .headline {
        background-color: $mahindra-light-red;
        color: #fff;
        padding: 5px 20px;
    }
    .headline p {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.3px;
    }
    .video-text-content h6 {
        color: #fff;
        font-weight: 900;
        text-transform: uppercase;
    }
    .video-text-content p {
        color: #fff;
        font-size: 10px;
        margin-bottom: 0;
    }
    .video-text-content a {
        color: #fff;
        text-decoration: none;
        font-style: italic;
        letter-spacing: 0.3px;
        font-weight: 700;
        font-size: 0.813rem;
    }
}

.video-story {
    .video-text-content {
        position: absolute;
        bottom: 30px;
        left: 15px;
    }
}

@media (min-width: 992px) {
    .video-story {
        .video-text-content {
            bottom: 10px;
        }
    }
}

.story-snipppet-sm {
    .headline {
        background-color: $mahindra-light-red;
        color: #fff;
        padding: 5px 20px;
    }
    .headline p {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.3px;
    }
}

.fc-share-news {
    height: 250px;
    h3 {
        color: $mahindra-light-red;
        font-weight: 800;
        text-transform: uppercase;
    }
    p {
        font-size: 0.938rem;
        font-weight: 700;
        color: #6e6f72;
    }
    a {
        color: $mahindra-light-red;
        font-style: italic;
        font-weight: 700;
    }
}

// Other Stories
.other-stories-section {
    h2 {
        font-weight: 800;
        color: #6c6d70;
        text-transform: uppercase;
    }
}

.stories-section {
    &.mahindra-stories {
        .brand-name {
            border-bottom: 4px solid $mahindra-light-red;

            span {
                font-size: 1.313rem;
                color: $mahindra-light-red;
                font-weight: 700;
                border-bottom: 5px solid $mahindra-light-red;
            }
        }
        .fc-story-card {
            border: none;
            h4 {
                font-weight: 800;
                font-size: 1rem;
                text-transform: uppercase;
                span {
                    color: $mahindra-light-red;
                    border-left: 5px solid $mahindra-light-red;
                    padding-left: 15px;
                }
            }
            h5 {
                color: #5f6062;
            }
            p {
                color: #8f9193;
            }
            a {
                font-weight: 700;
                color: $mahindra-light-red;
                font-style: italic;
                text-decoration: none;
            }
        }
    }
    &.swaraj-stories {
        .brand-name {
            border-bottom: 4px solid $swaraj-light-green;

            span {
                font-size: 1.313rem;
                color: $swaraj-light-green;
                font-weight: 700;
                border-bottom: 5px solid $swaraj-light-green;
            }
        }
        .fc-story-card {
            border: none;
            h4 {
                font-weight: 800;
                font-size: 1rem;
                text-transform: uppercase;
                span {
                    color: $swaraj-light-green;
                    border-left: 5px solid $swaraj-light-green;
                    padding-left: 15px;
                }
            }
            h5 {
                color: #5f6062;
            }
            p {
                color: #8f9193;
            }
            a {
                font-weight: 700;
                color: $swaraj-light-green;
                font-style: italic;
                text-decoration: none;
            }
        }
    }
    &.erkunt-stories {
        .brand-name {
            border-bottom: 4px solid $erkunt-light-maroon;

            span {
                font-size: 1.313rem;
                color: $erkunt-light-maroon;
                font-weight: 700;
                border-bottom: 5px solid $erkunt-light-maroon;
            }
        }
        .fc-story-card {
            border: none;
            h4 {
                font-weight: 800;
                font-size: 1rem;
                text-transform: uppercase;
                span {
                    color: $erkunt-light-maroon;
                    border-left: 5px solid $erkunt-light-maroon;
                    padding-left: 15px;
                }
            }
            h5 {
                color: #5f6062;
            }
            p {
                color: #8f9193;
            }
            a {
                font-weight: 700;
                color: $erkunt-light-maroon;
                font-style: italic;
                text-decoration: none;
            }
        }
    }
    &.mitsubishi-stories {
        .brand-name {
            border-bottom: 4px solid $mitsubishi-red;

            span {
                font-size: 1.313rem;
                color: $mitsubishi-red;
                font-weight: 700;
                border-bottom: 5px solid $mitsubishi-red;
            }
        }
        .fc-story-card {
            border: none;
            h4 {
                font-weight: 800;
                font-size: 1rem;
                span {
                    color: $mitsubishi-red;
                    border-left: 5px solid $mitsubishi-red;
                    padding-left: 15px;
                    text-transform: uppercase;
                }
            }
            h5 {
                color: #5f6062;
            }
            p {
                color: #8f9193;
            }
            a {
                font-weight: 700;
                color: $mitsubishi-red;
                font-style: italic;
                text-decoration: none;
            }
        }
    }
    &.sampo-rosenlew-stories {
        .brand-name {
            border-bottom: 4px solid $sampo-light-yellow;
            span {
                font-size: 1.313rem;
                color: $sampo-light-yellow;
                font-weight: 700;
                border-bottom: 5px solid $sampo-light-yellow;
            }
        }
        .fc-story-card {
            border: none;
            h4 {
                font-weight: 800;
                font-size: 1rem;
                text-transform: uppercase;
                span {
                    color: $sampo-light-yellow;
                    border-left: 5px solid $sampo-light-yellow;
                    padding-left: 15px;
                    text-transform: uppercase;
                }
            }
            h5 {
                color: #5f6062;
            }
            p {
                color: #8f9193;
            }
            a {
                font-weight: 700;
                color: $sampo-light-yellow;
                font-style: italic;
                text-decoration: none;
            }
        }
    }
}

@media (min-width: 992px) {
    .fc-story-card-slider {
        display: flex !important;
    }
}

.fc-post-banner {
    &.fc-mahindra-stories {
        .story-tag {
            font-weight: 800;
            font-size: 1.563rem;
            text-transform: uppercase;
            span {
                color: $mahindra-light-red;
            }
        }
    }
    &.fc-swaraj-stories {
        .story-tag {
            font-weight: 800;
            font-size: 1.563rem;
            text-transform: uppercase;
            span {
                color: $swaraj-light-green;
            }
        }
    }
    &.fc-erkunt-stories {
        .story-tag {
            font-weight: 800;
            font-size: 1.563rem;
            text-transform: uppercase;
            span {
                color: $erkunt-light-maroon;
            }
        }
    }
    &.fc-mitsubishi-stories {
        .story-tag {
            font-weight: 800;
            font-size: 1.563rem;
            text-transform: uppercase;
            span {
                color: $mitsubishi-red;
            }
        }
    }
    &.fc-sampo-rosenlew-stories {
        .story-tag {
            font-weight: 800;
            font-size: 1.563rem;
            text-transform: uppercase;
            span {
                color: $sampo-light-yellow;
            }
        }
    }
}

.navbar-brand {
    max-width: 250px;
}

@media (min-width: 992px) {
    .navbar-brand {
        max-width: 480px;
    }
}

.fc-archieve-accordion {
    .accordion-button:not(.collapsed),
    .accordion-header,
    .accordion-button.collapsed {
        background-color: $mahindra-light-red;
    }
    .accordion-button:focus {
        box-shadow: none;
    }
    .accordion-button {
        color: #fff;
    }
    ul {
        li {
            a {
                text-decoration: none;
                color: #242021;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
    .accordion-button:after {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    }
}

.home-icon {
    background-color: $mahindra-light-red;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.article-video-section {
    iframe {
        width: 100%;
        height: 535px;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

// Single post page
.post-title {
    font-size: 2.6rem;
    color: #6c6d70;
    font-weight: 900;
    text-transform: uppercase;
}

@media (min-width: 768) {
    .post-title {
        font-size: 4.5rem;
    }
}

.fc-letter{
    height: 800px;
    overflow: overlay;
}

@media (min-width: 992px) {
    .fc-letter {
        height: 500px;
        overflow: hidden;
    }
}

.message-scroll {
    padding: 30px 10px;
    height: 100%;
    overflow-y: scroll;
}

@media (min-width: 992px) {
    .message-scroll {
        padding: 30px;
    }
}

/* width */
.message-scroll::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.message-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.message-scroll::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

.top-stories{
    position: relative;
}
.img-overlay {
    position: absolute; 
    background: #0000002b;
    inset: 0;
  }

//   .post-content p{
//     margin: 1rem 0;
//   }

.fc-share-news{
    border-top: 4px solid #ee2328;
    a{
        text-decoration: none;
    }
}

.blocks-gallery-item figure {
    flex-direction: column;
}
figcaption.blocks-gallery-item__caption {
    position: relative !important;
}

.fc-farmworld-logo {
    display: block;
    margin-top: 15px;
  }
  
  .fc-farmworld-logo,
  .fc-mahindra-rize-logo {
    max-width: 200px;
  }
  
  @media (min-width: 992px) {
    .fc-farmworld-logo {
      transform: translate(25px, 11px);
      display: inline-block;
      margin-top: 0;
    }
  }
  